<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% if page.url != "/" %}
      <a href="/" class="btn">Home Page</a>
    {% endif %}
    <!-- {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %} -->
    {% if page.url != "/projects/" %}
      <a href="/projects" class="btn">Projects</a>
    {% endif %}
    <a href="http://github.com/connorsteph" class="btn">GitHub</a>
    <a href="https://scholar.google.com/citations?user=laK9EEsAAAAJ&hl=en" class="btn">Google Scholar</a>
    <a href="https://www.linkedin.com/in/connor-james-stephens/" class="btn">LinkedIn</a>
  </header>